{% load staticfiles %}
<center>
<div class="dropdown">
  <button onclick="myFunction()" class="btn btn-default btn-file dropbtn">SEPT OCT</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="{% static 'prep/topicanalysisdisads.docx' %}" download>Topic Analysis: Disads</a>
  </div>
</div>
<div class="dropdown">
  <button onclick="myFunction()" class="btn btn-default btn-file dropbtn">K</button>
  <div id="myDropdown" class="dropdown-content">
    <a>Coming Soon!</a>
  </div>
</div>
<div class="dropdown">
  <button onclick="myFunction()" class="btn btn-default btn-file dropbtn">Theory</button>
  <div id="myDropdown" class="dropdown-content">
    <a>Coming Soon!</a>
  </div>
</div>
<div class="dropdown">
  <button onclick="myFunction()" class="btn btn-default btn-file dropbtn">Framework</button>
  <div id="myDropdown" class="dropdown-content">
    <a>Coming Soon!</a>
  </div>
</div>


</center>
<script type="text/javascript">

function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}

</script>
