{% extends "main/homepage.html" %}

{% block tabs %}
<section id="info">
  <h6> We are an organization dedicated to helping debaters build mentorships to share, work, and learn together. </h6>
  <p style="font-size:13px;"> Through prep-sharing, drills, practice rounds and tournament preparation, we aim to build a more connected High School LD debate community. PepTalk is a way for experienced debaters to help younger debaters from local circuits gain access to the support, resources, and guidance that can help them sustain debate programs. PepTalk's goal is to help shape communities of growth in an otherwise challenging and exhausting activity.</p>
</section>
{% endblock %}
