{% extends "main/homepage.html" %}

{% block tabs %}
{% load staticfiles %}
<center>
  <h6> Let us know if you have questions comments, or concerns! </h6>
  <h6> PepTalkDebate@gmail.com </h6>
  <div class="row" style="margin-left:0px; margin-right:0px;">
    <div class="col-md-2 col-md-offset-1">
      <div class="circularmain pic img-circle">
        <a href="https://www.facebook.com/jerome.nashed" target="_blank"><img src="{% static 'media/Contact/jerome.png' %}" class="img-responsive img-circle fig">
        </a>
        <p> JEROME <br> NASHED <hr> President </p> <p style="font-size:11px;"> bio bio bio </p>
      </div>
		</div>
    <div class="col-md-2">
      <div class="circularmain pic img-circle">
        <a href="https://www.facebook.com/charles4406" target="_blank"><img src="{% static 'media/Contact/charles.png' %}" class="img-responsive img-circle fig">
        </a>
        <p> CHARLES <br> LI <hr> Texas Operations </p> <p style="font-size:11px;"> Charles is currently a senior at Strake Jesuit College Preparatory in Houston, Texas. He at-larged to the Tournament of Champions as a junior and has had cleared at multiple national circuit tournaments such as Grapevine, UT, UH, Harvard Westlake, and reached semi-finals of the Texas Forensics Association State Tournament. He has tutored middle school students and novices in debate for several years, and looks forward to helping others achieve their full potential. </p>
      </div>
		</div>
    <div class="col-md-2">
      <div class="circularmain pic img-circle">
        <a href="https://www.facebook.com/kevin.likesfriedmice" target="_blank"><img src="{% static 'media/Contact/kevin.png' %}" class="img-responsive img-circle fig">
        </a>
        <p> KEVIN <br> LI <hr> Web Developer</p> <p style="font-size:11px;"> Kevin is a senior at Stuyvesant High School, serving as the team's novice and JV director. He is mainly involved on the national circuit, at-larging to the TOC as a junior. He has volunteered with the NYC Urban Debate League, and enjoys working with underclassmen in debate. Outside of competing, he enjoys hanging out with his team, volunteering, coding, and playing music.  </p>
      </div>
		</div>
    <div class="col-md-2">
      <div class="circularmain pic img-circle">
        <a href="https://www.facebook.com/yichenzhu2000" target="_blank"><img src="{% static 'media/Contact/charles.png' %}" class="img-responsive img-circle fig">
        </a>
        <p> YICHEN <br>  ZHU <hr> job here </p> <p style="font-size:11px;"> bio bio bio </p>
      </div>
		</div>
    <div class="col-md-2">
      <div class="circularmain pic img-circle">
        <a href="https://www.facebook.com/profile.php?id=100006553063524" target="_blank"><img src="{% static 'media/Contact/chris.png' %}" class="img-responsive img-circle fig">
        </a>
        <p> CHRIS <br> WANG <hr> job here </p> <p style="font-size:11px;"> Chris Wang is a senior at Lynbrook High School and has been debating on the national circuit for almost 3 years. Throughout his junior year, he qualified for TOC, cleared at most tournaments such as Harvard-Westlake and Stanford, and won Berkeley. Chris is an active mentor for the underclassman at Lynbrook and spends hours a week helping them improve. </p>
      </div>
		</div>
  </div>
</center>
{% endblock %}
