{% extends "main/mentee.html" %}
{% load staticfiles %}
{% block content %}
<center> <h6> FIND A MENTOR </h6> </center>
<div class="row" style="margin-left:50px; margin-right:50px;">
  <div class="col-md-3">
    <div class="circular pic img-circle">
      <a href="../mentor_profile/" target="_blank"><img src="{% static 'media/Contact/charles.png' %}" class="img-responsive img-circle fig"></a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="circular pic img-circle">
      <a href="" target="_blank"><img src="{% static 'media/Contact/kevin.png' %}" class="img-responsive img-circle fig"></a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="circular pic img-circle">
      <a href="" target="_blank"><img src="{% static 'media/Contact/pacy.png' %}" class="img-responsive img-circle fig"></a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="circular pic img-circle">
      <a href="" target="_blank"><img src="{% static 'media/Contact/jerome.png' %}" class="img-responsive img-circle fig"></a>
    </div>
  </div>
</div>
<div class="row" style="margin-left:50px; margin-right:50px;">
  <div class="col-md-3">
    <center> <p style="font-size:18px"> CHARLES LI </p> <p style="font-size:15px"> Strake Jesuit </p> <hr> <p style="font-size:11px">Experience: I have experience in a bunch of things and stuff its cool </p> </center>
  </div>
  <div class="col-md-3">
    <center> <p style="font-size:18px"> KEVIN LI </p> <p style="font-size:15px"> Stuyvesant </p> <hr> <p style="font-size:11px">Experience: I have experience in a bunch of things and stuff its cool </p> </center>
  </div>
  <div class="col-md-3">
    <center> <p style="font-size:18px"> PACY YAN </p> <p style="font-size:15px"> Stuyvesant </p> <hr> <p style="font-size:11px">Experience: I have experience in a bunch of things and stuff its cool</p> </center>
  </div>
  <div class="col-md-3">
    <center> <p style="font-size:18px"> JEROME NASHED </p> <p style="font-size:15px"> Lake Highland Prep </p> <hr> <p style="font-size:11px">Experience: I have experience in a bunch of things and stuff its cool </p> </center>
  </div>
</div>
<br>
<div class="row" style="margin-left:50px; margin-right:50px;">
  <div class="col-md-3">
    <div class="circular pic img-circle">
      <a href="" target="_blank"><img src="{% static 'media/Contact/chris.png' %}" class="img-responsive img-circle fig"></a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="circular pic img-circle">
      <a href="" target="_blank"><img src="{% static 'media/Contact/charles.png' %}" class="img-responsive img-circle fig"></a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="circular pic img-circle">
      <a href="" target="_blank"><img src="{% static 'media/Contact/charles.png' %}" class="img-responsive img-circle fig"></a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="circular pic img-circle">
      <a href="" target="_blank"><img src="{% static 'media/Contact/charles.png' %}" class="img-responsive img-circle fig"></a>
    </div>
  </div>
</div>
<div class="row" style="margin-left:50px; margin-right:50px;">
  <div class="col-md-3">
    <center> <p style="font-size:18px"> CHRIS WANG </p> <p style="font-size:15px"> Lynbrook </p> <hr> <p style="font-size:11px">Experience: I have experience in a bunch of things and stuff its cool </p> </center>
  </div>
  <div class="col-md-3">
    <center> <p style="font-size:18px">  </p> <p style="font-size:15px">  </p> <hr> <p style="font-size:11px">Experience: I have experience in a bunch of things and stuff its cool </p> </center>
  </div>
  <div class="col-md-3">
    <center> <p style="font-size:18px"> </p> <p style="font-size:15px">  </p> <hr> <p style="font-size:11px">Experience: I have experience in a bunch of things and stuff its cool</p> </center>
  </div>
  <div class="col-md-3">
    <center> <p style="font-size:18px">  </p> <p style="font-size:15px"> </p> <hr> <p style="font-size:11px">Experience: I have experience in a bunch of things and stuff its cool </p> </center>
  </div>
</div>
{% endblock %}
