{% extends "main/mentee.html" %}
{% load staticfiles %}
{% block content %}
<center> <h6> FIND A MENTORfsdf </h6> </center>
<!-- TEMPLATE
<br>
<div class="row" style="margin-left:50px; margin-right:50px;">
  <div class="col-md-3">
    <div class="circular pic img-circle">
      <a href="../mentor_profile/" target="_blank"><img src="{% static 'media/Contact/<INSERTFILENAME>.png' %}" class="img-responsive img-circle fig"></a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="circular pic img-circle">
      <a href="../mentor_profile/" target="_blank"><img src="{% static 'media/Contact/<INSERTFILENAME>.png' %}" class="img-responsive img-circle fig"></a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="circular pic img-circle">
      <a href="../mentor_profile/" target="_blank"><img src="{% static 'media/Contact/<INSERTFILENAME>.png' %}" class="img-responsive img-circle fig"></a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="circular pic img-circle">
      <a href="../mentor_profile/" target="_blank"><img src="{% static 'media/Contact/<INSERTFILENAME>.png' %}" class="img-responsive img-circle fig"></a>
    </div>
  </div>
</div>
<div class="row" style="margin-left:50px; margin-right:50px;">
  <div class="col-md-3">
    <center> <p style="font-size:18px"> INSERTNAME </p> <p style="font-size:15px"> INSERTSCHOOL </p> <hr> <p style="font-size:11px"> INSERTEXP </p> </center>
  </div>
  <div class="col-md-3">
    <center> <p style="font-size:18px"> INSERTNAME </p> <p style="font-size:15px"> INSERTSCHOOL </p> <hr> <p style="font-size:11px"> INSERTEXP</p> </center>
  </div>
  <div class="col-md-3">
    <center> <p style="font-size:18px"> INSERTNAME </p> <p style="font-size:15px"> INSERTSCHOOL </p> <hr> <p style="font-size:11px"> INSERTEXP</p> </center>
  </div>
  <div class="col-md-3">
    <center> <p style="font-size:18px"> INSERTNAME </p> <p style="font-size:15px"> INSERTSCHOOL </p> <hr> <p style="font-size:11px"> INSERTEXP</p> </center>
  </div>
</div>
-->
<div class="row" style="margin-left:50px; margin-right:50px;">
  <div class="col-md-3">
    <div class="circular pic img-circle">
      <a href="../mentor_profile/Charles4406" target="_blank"><img src="{% static 'media/Contact/charles.png' %}" class="img-responsive img-circle fig"></a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="circular pic img-circle">
      <a href="" target="_blank"><img src="{% static 'media/Contact/kevin.png' %}" class="img-responsive img-circle fig"></a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="circular pic img-circle">
      <a href="" target="_blank"><img src="{% static 'media/Contact/pacy.png' %}" class="img-responsive img-circle fig"></a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="circular pic img-circle">
      <a href="../mentor_profile/jerome.nashed" target="_blank"><img src="{% static 'media/Contact/jerome.png' %}" class="img-responsive img-circle fig"></a>
    </div>
  </div>
</div>
<div class="row" style="margin-left:50px; margin-right:50px;">
  <div class="col-md-3">
    <center> <p style="font-size:18px"> CHARLES LI </p> <p style="font-size:15px"> Strake Jesuit </p> <hr> <p style="font-size:11px">Charles is currently a senior at Strake Jesuit College Preparatory in Houston, Texas. He at-larged to the Tournament of Champions as a junior and has had cleared at multiple national circuit tournaments such as Grapevine, UT, UH, Harvard Westlake, and reached semi-finals of the Texas Forensics Association State Tournament. He has tutored middle school students and novices in debate for several years, and looks forward to helping others achieve their full potential.</p> </center>
  </div>
  <div class="col-md-3">
    <center> <p style="font-size:18px"> KEVIN LI </p> <p style="font-size:15px"> Stuyvesant </p> <hr> <p style="font-size:11px">Kevin is a senior at Stuyvesant High School, serving as the team's novice and JV director. He is mainly involved on the national circuit, at-larging to the TOC as a junior. He has volunteered with the NYC Urban Debate League, and enjoys working with underclassmen in debate. Outside of competing, he enjoys hanging out with his team, volunteering, coding, and playing music. </p> </center>
  </div>
  <div class="col-md-3">
    <center> <p style="font-size:18px"> PACY YAN </p> <p style="font-size:15px"> Stuyvesant </p> <hr> <p style="font-size:11px">Pacy debates for Stuyvesant High School. This coming year will be Pacy's fourth year of doing debate and she will be a senior next year. In her junior year, she made it to elims of Yale, Scarsdale, Princeton, Blake, Harvard, Ridge, Penn, Apple Valley, Newark, and Lexington. Pacy also competed in the Harrison Round Robin, was top seed at Ridge, and was 5-1 at Blake, Lexington, and Harvard. She also competed at Grand Catholic Nationals and dropped in dubs. Her interests in debate primarily focus on Asian-American Identity (and other identity-based positions), Deleuze/Deleuzean positions, other kritiks, and theory/topicality.</p> </center>
  </div>
  <div class="col-md-3">
    <center> <p style="font-size:18px"> JEROME NASHED </p> <p style="font-size:15px"> Lake Highland Prep </p> <hr> <p style="font-size:11px">Jerome is currently a senior and has been debating in Lincoln Douglas since 8th grade at Lake Highland Prep. He competes nationally frequently and has qualified for the NDCA and NSDA. He has placed top 10 in Florida sophomore and junior year and often reaches elimination rounds at tournaments such as Harvard, Stanford, and Yale. He regularly works with underclass on his team and often sees improvements.</p> </center>
  </div>
</div>
<br>
<div class="row" style="margin-left:50px; margin-right:50px;">
  <div class="col-md-3">
    <div class="circular pic img-circle">
      <a href="../mentor_profile/Charles4406" target="_blank"><img src="{% static 'media/Contact/chris.png' %}" class="img-responsive img-circle fig"></a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="circular pic img-circle">
      <a href="../mentor_profile/lindseyperl" target="_blank"><img src="{% static 'media/Contact/lindsey.jpg' %}" class="img-responsive img-circle fig"></a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="circular pic img-circle">
      <a href="" target="_blank"><img src="{% static 'media/Contact/abhilash.png' %}" class="img-responsive img-circle fig"></a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="circular pic img-circle">
      <a href="../mentor_profile/RobbyGillespie" target="_blank"><img src="{% static 'media/Contact/robby.png' %}" class="img-responsive img-circle fig"></a>
    </div>
  </div>
</div>
<div class="row" style="margin-left:50px; margin-right:50px;">
  <div class="col-md-3">
    <center> <p style="font-size:18px"> CHRIS WANG </p> <p style="font-size:15px"> Lynbrook </p> <hr> <p style="font-size:11px">Chris Wang is a senior at Lynbrook High School and has been debating on the national circuit for almost 3 years. Throughout his junior year, he qualified for TOC, cleared at most tournaments such as Harvard-Westlake and Stanford, and won Berkeley. Chris is an active mentor for the underclassman at Lynbrook and spends hours a week helping them improve. </p> </center>
  </div>
  <div class="col-md-3">
    <center> <p style="font-size:18px"> LINDSEY PERLMAN </p> <p style="font-size:15px"> Byram Hills </p> <hr> <p style="font-size:11px">Lindsey Perlman has been debating for 2 years at Byram Hills High School in Armonk, NY. As a sophomore, she attended the 2017 Tournament of Champions. She also cleared at multiple National Circuit tournaments, such as Princeton and Beltway, along with reaching finals at University of Pennsylvania.</p> </center>
  </div>
  <div class="col-md-3">
    <center> <p style="font-size:18px"> ABHILASH DATTI </p> <p style="font-size:15px"> American Heritage Plantation </p> <hr> <p style="font-size:11px">Abhilash Datti is a senior at American Heritage Plantation—going onto his 4th year of debate. In his time as a debater, he has gotten to semis of the sophomore throw down, trips of Yale, both doubles and octas at the Florida Blue Key, doubles of sunvite, and quarters of varsity states. He often works with less experienced debaters after school and has seen them excel.</p> </center>
  </div>
  <div class="col-md-3">
    <center> <p style="font-size:18px"> ROBBY GILLESPIE </p> <p style="font-size:15px"> American Heritage Plantation </p> <hr> <p style="font-size:11px">Robby Gillespie is a junior at American Heritage and has been debating since freshman year. Since then, he has qualified for CFL Nats, gotten to trips at harvard, and semi’d at Florida State (top speaker). Because of his role as captain of the LD team, Robby organizes drills and rounds between the JVers.</p> </center>
  </div>
</div>
<br>
<div class="row" style="margin-left:50px; margin-right:50px;">
  <div class="col-md-3">
    <div class="circular pic img-circle">
      <a href="" target="_blank"><img src="{% static 'media/Contact/yichen.png' %}" class="img-responsive img-circle fig"></a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="circular pic img-circle">
      <a href="../mentor_profile/juliawu" target="_blank"><img src="{% static 'media/Contact/julia.png' %}" class="img-responsive img-circle fig"></a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="circular pic img-circle">
      <a href="../mentor_profile/michaelning901" target="_blank"><img src="{% static 'media/Contact/michael.png' %}" class="img-responsive img-circle fig"></a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="circular pic img-circle">
      <a href="../mentor_profile/tiffanyhchang.tc" target="_blank"><img src="{% static 'media/Contact/tiffany.png' %}" class="img-responsive img-circle fig"></a>
    </div>
  </div>
</div>
<div class="row" style="margin-left:50px; margin-right:50px;">
  <div class="col-md-3">
    <center> <p style="font-size:18px"> YICHEN ZHU </p> <p style="font-size:15px"> Lynbrook </p> <hr> <p style="font-size:11px"> Yichen Zhu is a senior at Lynbrook High School. She has competed in Lincoln-Douglas debate for three years and cleared to the elimination rounds of many national circuit tournaments like Golden Desert, Stanford, and Berkeley Invitational. Yichen has worked at many local debate camps and assisted middle school debaters in her neighborhood. She also spends many hours mentoring her underclassman teammates as well.</p> </center>
  </div>
  <div class="col-md-3">
    <center> <p style="font-size:18px"> JULIA WU </p> <p style="font-size:15px"> Lake Highland </p> <hr> <p style="font-size:11px"> Julia Wu is a junior entering her fourth year of debate for Lake Highland Prep. She went to the TOCs her sophomore year and was in outrounds of the Mid-America Cup, Florida Blue Key, Princeton Classic, and Strake Jesuit Debate Tournament. She also qualified to the Florida Forensic League State Tournament twice, once in policy and once in LD.</p> </center>
  </div>
  <div class="col-md-3">
    <center> <p style="font-size:18px"> MICHAEL NING </p> <p style="font-size:15px"> Hunter College </p> <hr> <p style="font-size:11px"> Michael is a junior at Hunter College High School, where he has competed for the past two years in policy and LD debate. His debate interests center around LARP and K debate (with a focus on Critical Race theory and postmodernism). </p> </center>
  </div>
  <div class="col-md-3">
    <center> <p style="font-size:18px"> TIFFANY CHANG </p> <p style="font-size:15px"> Phillips Academy Andover </p> <hr> <p style="font-size:11px"> Tiffany Chang is currently a junior and has been debating for Phillips Academy Andover in Massachusetts. In her 3 years of debate, she’s reached  elimination rounds of tournaments like Harvard and Yale. She is primarily interested in framework and critical debate.</p> </center>
  </div>
</div>
<br>
<div class="row" style="margin-left:50px; margin-right:50px;">
  <div class="col-md-3">
    <div class="circular pic img-circle">
      <a href="" target="_blank"><img src="{% static 'media/Contact/arlo.png' %}" class="img-responsive img-circle fig"></a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="circular pic img-circle">
      <a href="" target="_blank"><img src="{% static 'media/Contact/niko.png' %}" class="img-responsive img-circle fig"></a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="circular pic img-circle">
      <a href="" target="_blank"><img src="{% static 'media/Contact/lavanya.png' %}" class="img-responsive img-circle fig"></a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="circular pic img-circle">
      <a href="" target="_blank"><img src="{% static 'media/Contact/michaelgao.png' %}" class="img-responsive img-circle fig"></a>
    </div>
  </div>
</div>
<div class="row" style="margin-left:50px; margin-right:50px;">
  <div class="col-md-3">
    <center> <p style="font-size:18px"> ARLO WEINER </p> <p style="font-size:15px"> Oakwood </p> <hr> <p style="font-size:11px"> Arlo Weiner attends Oakwood school in NoHo Los Angeles and is entering his 3rd year of competition in national circuit LD. He specializes in framework and philosophy debate. In addition to LD he has also debated policy on the California CHSSA circuit and has competed in public forum at NSDA nationals so he is comfortable with stock or case debate as well. Arlo spends a great deal of time working with his novices and JV debaters. </p> </center>
  </div>
  <div class="col-md-3">
    <center> <p style="font-size:18px"> NIKO BATTLE </p> <p style="font-size:15px"> Kamiak </p> <hr> <p style="font-size:11px"> Niko is a junior at Kamiak High School in WA entering his 2nd year in circuit debate and his 4th year in debate as a whole. As a sophomore he qualified to the TOC, earning two bids throughout the season. He specializes in K's (specifically Wilderson and other CRT) and answering T.</p> </center>
  </div>
  <div class="col-md-3">
    <center> <p style="font-size:18px"> LAVANYA SINGH </p> <p style="font-size:15px"> Mission San Jose </p> <hr> <p style="font-size:11px"> Lavanya Singh is a senior at Mission San Jose High School in Fremont, California. She was a two-time quarterfinalist at the Tournament of Champions, two-time champion of the College Prep School Tournament, co-champion of the Voices Round Robin, and ranked #3 in the nation. She’s also the current president and former LD captain for her school’s debate club, and has worked to mentor novices at MSJ.</p> </center>
  </div>
  <div class="col-md-3">
    <center> <p style="font-size:18px"> MICHAEL GAO </p> <p style="font-size:15px"> Judge Barefoot Sanders </p> <hr> <p style="font-size:11px"> Michael Gao is a rising senior at the Judge Barefoot Sanders in Dallas, TX. He has debated since his sophomore year. He specializes in framework debate and at-larged to the Tournament of Champions his junior year. Because of some issues with his school, Michael has had to compete independently at some tournaments. He looks forward to working with newer debaters who might be intimidated by the logistics of attending a tournament or the many other challenges of competing in national circuit debate.</p> </center>
  </div>
</div>
{% endblock %}
