<!DOCTYPE html>
<html lang='en'>

<head>
  <title>PepTalk Home</title>
  <meta charset="utf-8"/>
  {% load staticfiles %}
  <link rel="shortcut icon" href="{%static 'media/favicon.ico'%}"/>
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Hammersmith+One|Josefin+Sans|Montserrat|Righteous" rel="stylesheet">

  <!-- <link rel='stylesheet' href="{%static 'main/Flat-UI/dist/css/flat-ui.min.css' %}" type='text/css'/> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css" type='text/css'/>
  <link rel='stylesheet' href="{%static 'main/custom.css' %}" type='text/css'/>
  <meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#bdc3c7">
  <!-- HEADER -->
  <nav class="navbar navbar-default navbar-static-top navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">PEPTALK</a>
    </div>
    {% block homepage %}
    {% endblock %}
  </div><!-- /.container-fluid -->
</nav>

<div style="margin-top:60px;">
  {% block content %}
  {% endblock %}
</div>
</body>

</html>
