{% extends "main/mentor.html" %}

{% block content %}
<center>
<h2 style="font-size:35px">{{ user.username }}</h2>
<div class="circle-avatar" style="background-image:url({{ user.profile.avatar.url }})"></div> <br>
<h4> {{ user.first_name }}
{{ user.last_name }}</h4>
<div> {{ user.profile.school }}</div>
<div> Age {{ user.profile.age }}</div>
<div> <p style="margin-right:200px; margin-left:200px;"> Experience: {{ user.profile.experience }} </p> </div>
<div> <p style="margin-right:200px; margin-left:200px;">Debate Expertise: {{ user.profile.debateexpertise }} </p> </div>
</center>
{% endblock %}
