{% extends "main/homepage.html" %}
{% load staticfiles %}

{% block tabs %}
<h6> <center> Our Mentors: </center> <h6>
<div class="row" style="margin-left:0px; margin-right:0px;">
  <div class="col-md-2 col-md-offset-1">
    <div class="circular pic img-circle">
      <img src="{% static 'media/Contact/jerome.png' %}" class="img-responsive img-circle fig">
    </div>
  </div>
  <div class="col-md-2">
    <div class="circular pic img-circle">
      <img src="{% static 'media/Contact/charles.png' %}" class="img-responsive img-circle fig">
    </div>
  </div>
  <div class="col-md-2">
    <div class="circular pic img-circle">
      <img src="{% static 'media/Contact/kevin.png' %}" class="img-responsive img-circle fig">
    </div>
  </div>
  <div class="col-md-2">
    <div class="circular pic img-circle">
      <img src="{% static 'media/Contact/charles.png' %}" class="img-responsive img-circle fig">
    </div>
  </div>
  <div class="col-md-2">
    <div class="circular pic img-circle">
      <img src="{% static 'media/Contact/charles.png' %}" class="img-responsive img-circle fig">
    </div>
  </div>
</div>
<section id="info">
<h6> Pass it Forward. </h6>
<p> Help out a fellow debater and contribute to PepTalk!</p>
<p><a class="btn btn-primary btn-lg" href="../mentor_signup" role="button">Apply to be a Mentor!</a></p>
</section>
{% endblock %}
