{% extends "main/homepage.html" %}
{% load staticfiles %}

{% block tabs %}
<!-- TEMPLATE
<br>
<div class="row" style="margin-left:0px; margin-right:0px;">
  <div class="col-md-2 col-md-offset-1">
    <div class="circularmain pic img-circle">
      <img src="{% static 'media/Contact/default.png' %}" class="img-responsive img-circle fig">
    </div>
  </div>
  <div class="col-md-2">
    <div class="circularmain pic img-circle">
      <img src="{% static 'media/Contact/default.png' %}" class="img-responsive img-circle fig">
    </div>
  </div>
  <div class="col-md-2">
    <div class="circularmain pic img-circle">
      <img src="{% static 'media/Contact/default.png' %}" class="img-responsive img-circle fig">
    </div>
  </div>
  <div class="col-md-2">
    <div class="circularmain pic img-circle">
      <img src="{% static 'media/Contact/default.png' %}" class="img-responsive img-circle fig">
    </div>
  </div>
  <div class="col-md-2">
    <div class="circularmain pic img-circle">
      <img src="{% static 'media/Contact/default.png' %}" class="img-responsive img-circle fig">
    </div>
  </div>
</div>
-->
<h6> <center> Our Mentors: </center> <h6>
<div class="row" style="margin-left:0px; margin-right:0px;">
  <div class="col-md-2 col-md-offset-1">
    <div class="circularmain pic img-circle">
      <img src="{% static 'media/Contact/jerome.png' %}" class="img-responsive img-circle fig">
    </div>
  </div>
  <div class="col-md-2">
    <div class="circularmain pic img-circle">
      <img src="{% static 'media/Contact/charles.png' %}" class="img-responsive img-circle fig">
    </div>
  </div>
  <div class="col-md-2">
    <div class="circularmain pic img-circle">
      <img src="{% static 'media/Contact/kevin.png' %}" class="img-responsive img-circle fig">
    </div>
  </div>
  <div class="col-md-2">
    <div class="circularmain pic img-circle">
      <img src="{% static 'media/Contact/chris.png' %}" class="img-responsive img-circle fig">
    </div>
  </div>
  <div class="col-md-2">
    <div class="circularmain pic img-circle">
      <img src="{% static 'media/Contact/pacy.png' %}" class="img-responsive img-circle fig">
    </div>
  </div>
</div>
<br>
<div class="row" style="margin-left:0px; margin-right:0px;">
  <div class="col-md-2 col-md-offset-1">
    <div class="circularmain pic img-circle">
      <img src="{% static 'media/Contact/lindsey.jpg' %}" class="img-responsive img-circle fig">
    </div>
  </div>
  <div class="col-md-2">
    <div class="circularmain pic img-circle">
      <img src="{% static 'media/Contact/yichen.png' %}" class="img-responsive img-circle fig">
    </div>
  </div>
  <div class="col-md-2">
    <div class="circularmain pic img-circle">
      <img src="{% static 'media/Contact/abhilash.png' %}" class="img-responsive img-circle fig">
    </div>
  </div>
  <div class="col-md-2">
    <div class="circularmain pic img-circle">
      <img src="{% static 'media/Contact/robby.png' %}" class="img-responsive img-circle fig">
    </div>
  </div>
  <div class="col-md-2">
    <div class="circularmain pic img-circle">
      <img src="{% static 'media/Contact/julia.png' %}" class="img-responsive img-circle fig">
    </div>
  </div>
</div>
<br>
<div class="row" style="margin-left:0px; margin-right:0px;">
  <div class="col-md-2 col-md-offset-1">
    <div class="circularmain pic img-circle">
      <img src="{% static 'media/Contact/michael.png' %}" class="img-responsive img-circle fig">
    </div>
  </div>
  <div class="col-md-2">
    <div class="circularmain pic img-circle">
      <img src="{% static 'media/Contact/tiffany.png' %}" class="img-responsive img-circle fig">
    </div>
  </div>
  <div class="col-md-2">
    <div class="circularmain pic img-circle">
      <img src="{% static 'media/Contact/arlo.png' %}" class="img-responsive img-circle fig">
    </div>
  </div>
  <div class="col-md-2">
    <div class="circularmain pic img-circle">
      <img src="{% static 'media/Contact/niko.png' %}" class="img-responsive img-circle fig">
    </div>
  </div>
  <div class="col-md-2">
    <div class="circularmain pic img-circle">
      <img src="{% static 'media/Contact/lavanya.png' %}" class="img-responsive img-circle fig">
    </div>
  </div>
</div>
<br>
<div class="row" style="margin-left:0px; margin-right:0px;">
  <div class="col-md-2 col-md-offset-1">
    <div class="circularmain pic img-circle">
      <img src="{% static 'media/Contact/michaelgao.png' %}" class="img-responsive img-circle fig">
    </div>
  </div>
  <!--
  <div class="col-md-2">
    <div class="circularmain pic img-circle">
      <img src="{% static 'media/Contact/default.png' %}" class="img-responsive img-circle fig">
    </div>
  </div>
  <div class="col-md-2">
    <div class="circularmain pic img-circle">
      <img src="{% static 'media/Contact/default.png' %}" class="img-responsive img-circle fig">
    </div>
  </div>
  <div class="col-md-2">
    <div class="circularmain pic img-circle">
      <img src="{% static 'media/Contact/default.png' %}" class="img-responsive img-circle fig">
    </div>
  </div>
  <div class="col-md-2">
    <div class="circularmain pic img-circle">
      <img src="{% static 'media/Contact/default.png' %}" class="img-responsive img-circle fig">
    </div>
  </div>
  -->
</div>
<section id="info">
<h6> Pass it Forward. </h6>
<p> Help out a fellow debater and contribute to PepTalk!</p>
<p><a class="btn btn-primary btn-lg" href="../mentor_signup" role="button">Apply to be a Mentor!</a></p>
{% endblock %}
